<html>
<head>
    <title>Planes</title>
</head>
<body>
    <h1>Planes</h1>
   <table border="1" cellpadding="5" cellspacing="0">
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Cliente</th>
            <th>Precio</th>
            <th>Rutinas</th>
        </tr>
        {% for plan in planes %}
        <tr>
            <td>{{ plan.nombre }}</td>
            <td>{{ plan.descripcion }}</td>
            <td>{{ plan.cliente }}</td>
            <td>{{ plan.precio }}</td>
            <td>
                {% for rutina in plan.rutinas.all %}
                    {{ rutina.nombre }}{% if not forloop.last %} <br> {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
   </table>
</html>