{% extends "base.html" %}

{% block title %}Entrenadores{% endblock %}
{% block heading %}Entrenadores{% endblock %}

{% block content %}
    <div class="page-title">Lista de entrenadores disponibles</div>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Fecha de Nacimiento</th>
            <th>Especialidad</th>
            <th>Telefono</th>
            <th>Experiencia</th>
            <th>Lugar Trabajo</th>
        </tr>
        {% for entrenador in entrenadores %}
        <tr>
            <td>{{ entrenador.nombre }}</td>
            <td>{{ entrenador.apellido }}</td>
            <td>{{ entrenador.fecha_nacimiento }}</td>
            <td>{{ entrenador.especialidad }}</td>
            <td>{{ entrenador.telefono }}</td>
            <td>{{ entrenador.experiencia }}</td>
            <td>{{ entrenador.lugar_trabajo }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}