<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Bienvenidos a la pagina de clientes</h1>

    <table border="1" cellpadding="5" cellspacing="0" style="border-collapse: collapse;"    >
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>Piero</td>
            <td>Gomez</td>
            <td>piero@gomez.com</td>
    </table>
    
</body>
</html>