<html>
<head>
    <title>Rutinas</title>

    </head>

<body>
    <h1>Rutinas</h1>
    
        <caption>Rutinas de entrenamiento</caption><br><br>

        
        <table border="1" cellpadding="5" cellspacing="0">
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Objetivo</th>              
                <th>Usuario</th>               
                <th>Listado de ejercicios</th>
            </tr>

            {% for rutina in rutinas %}
            
            <tr>
                <td>{{ rutina.nombre }}</td>
                <td>{{ rutina.descripcion }}</td>
                <td>{{ rutina.objetivo }}</td> 
                <td>{{ rutina.usuario.nombre }}</td>             
                <td>
                    
                        {% for ejercicio in rutina.ejercicios.all %}
                            <p>{{ejercicio.series}}/{{ejercicio.repeticiones}}/{{ejercicio.intensidad}}% {{ejercicio.ejercicio.nombre}} {{ejercicio.descanso}}min Desc</p>
                        {% endfor %}
                    
                </td>
            </tr>
            {% endfor %}        
        </table>
       
</body>
</html>