{% extends "base.html" %}

{% block title %}Rutinas{% endblock %}
{% block heading %}Rutinas{% endblock %}

{% block content %}
    <caption>Rutinas de entrenamiento</caption>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Objetivo</th>              
            <th>Cliente</th>               
            <th>Ejercicios</th>
        </tr>

        {% for rutina in rutinas %}
        <tr>
            <td>{{ rutina.nombre }}</td>
            <td>{{ rutina.descripcion }}</td>
            <td>{{ rutina.objetivo }}</td> 
            <td>{{ rutina.cliente.nombre }}</td>             
            <td>
                {% for ejercicio in rutina.ejercicios.all %}
                    <p>{{ejercicio.series}}/{{ejercicio.repeticiones}}/{{ejercicio.intensidad}}% {{ejercicio.ejercicio.nombre}} {{ejercicio.descanso}}min Desc</p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}        
    </table>
{% endblock %}